.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid var(--bs-info);
  }
  
  .auth-container h2 {
    color: var(--bs-info);
    font-size: 60px;
    font-family: impact;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 18px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .auth-container button {
    padding: 10px;
    background-color: #1eb297;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-container button:hover {
    background-color: #17a085;
  }
  
  .auth-container p {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
  }
  